body {
  background-color: #050507;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  height: 4000px;
}

.header_logo {
  display: inline;
  position: fixed;
  padding: 30px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger {
  position: fixed;
  width: 42px;
  height: 42px;
  right: 0;
  margin: 24px 30px 0 0;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.hamburger span {
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 6px;
}
.hamburger span:nth-child(1) {
  top: 11px;
}
.hamburger span:nth-child(2) {
  top: 21px;
}
.hamburger span:nth-child(3) {
  top: 31px;
}

.header_logo_active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger_active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_menu {
  width: 100%;
  position: fixed;
  color: white;
  text-align: center;
  background: #050507;
  padding: 55px 0 20px 0px;
  opacity: 0;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav_menu ul li {
  margin-bottom: 20px;
}

.nav_menu_active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
}

#mainvisual {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}
#mainvisual img {
  width: 33.3333333333%;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.site_main_h1_text {
  margin: 100px 0;
  font-size: 6.25rem;
  text-align: center;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 2s;
  transition: 2s;
}

.site_main_h1_text_active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 2s;
  transition: 2s;
}

.information {
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 2s;
  transition: 2s;
}
.information h2 {
  padding-bottom: 5px;
  font-size: 3.75rem;
  border-bottom: 1px solid white;
  width: 362px;
  margin: 0 auto 45px auto;
  letter-spacing: 2px;
}
.information h3 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  font-weight: 500;
}
.information p {
  margin-bottom: 25px;
  font-size: 1.125rem;
  line-height: 27px;
}
.information p span {
  font-size: 1.5rem;
}

.information_active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 2s;
  transition: 2s;
}

.gallery {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 480px;
}
.gallery h1 {
  padding-bottom: 5px;
  font-size: 3.75rem;
  border-bottom: 1px solid white;
  width: 231px;
  margin: 100px auto 45px auto;
  letter-spacing: 2px;
  color: white;
  opacity: 0;
  -webkit-transition: 4s;
  transition: 4s;
}
.gallery .gallery_title_active {
  opacity: 1;
  -webkit-transition: 4s;
  transition: 4s;
}
.gallery .picture1 {
  width: 355px;
  height: 488px;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 3s;
  transition: 3s;
}
.gallery .picture1 img {
  width: 100%;
}
.gallery .picture2 {
  margin-left: auto;
  width: 355px;
  height: 235px;
  margin-top: 60px;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 3s;
  transition: 3s;
}
.gallery .picture2 img {
  width: 100%;
}
.gallery .picture3 {
  width: 355px;
  height: 355px;
  margin-top: 60px;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 3s;
  transition: 3s;
}
.gallery .picture3 img {
  width: 100%;
}
.gallery .picture4 {
  width: 355px;
  height: 533px;
  margin-top: 60px;
  margin-left: auto;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 3s;
  transition: 3s;
}
.gallery .picture4 img {
  width: 100%;
}
.gallery .picture5 {
  margin-top: 60px;
  width: 355px;
  height: 444px;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 3s;
  transition: 3s;
}
.gallery .picture5 img {
  width: 100%;
}
.gallery .picture6 {
  width: 355px;
  height: 235px;
  margin-top: 60px;
  margin-left: auto;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 3s;
  transition: 3s;
}
.gallery .picture6 img {
  width: 100%;
}
.gallery .picture_active {
  opacity: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 3s;
  transition: 3s;
}

.right_bottom_menu {
  border: 1px solid white;
  color: white;
  position: fixed;
  bottom: 200px;
  right: -143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
  text-align: center;
  -webkit-transform: translateX(50px) rotate(90deg);
          transform: translateX(50px) rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.right_bottom_menu a {
  width: 165px;
  font-size: 0.875rem;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 15px 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.right_bottom_menu a:nth-child(2) {
  border-right: solid 1px #fff;
}

.right_bottom_menu_active {
  -webkit-transform: translateX(0px) rotate(90deg);
          transform: translateX(0px) rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.access {
  color: white;
  text-align: center;
}
.access .access_title {
  padding-bottom: 5px;
  font-size: 3.75rem;
  border-bottom: 1px solid white;
  width: 197px;
  margin: 0px auto 45px auto;
  letter-spacing: 2px;
  color: white;
}
.access h2 {
  margin-bottom: 25px;
  font-size: 1.75rem;
  font-weight: 400;
}
.access p {
  margin-bottom: 25px;
  line-height: 23px;
}
.access a {
  border: 1px solid white;
  padding: 14.5px 90.5px;
  display: inline-block;
  margin: 10px 0 480px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.access a:hover {
  background-color: #050507;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.access_back_img {
  background: url("../image/bg.jpg") center center repeat !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

.contact {
  color: white;
  height: 500px;
}
.contact h1 {
  padding-bottom: 5px;
  font-size: 3.75rem;
  border-bottom: 1px solid white;
  width: 240px;
  margin: 0px auto 45px auto;
  letter-spacing: 2px;
  color: white;
}
.contact a {
  padding: 30px 0px;
  width: 400px;
  display: block;
  border: 1px solid white;
  margin: 0 auto 20px auto;
  text-align: center;
  position: relative;
}
.contact a:hover {
  opacity: 0.7;
}
.contact a::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: white;
  top: 57%;
  right: -43px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background: white;
  right: -45.2px;
  bottom: 36.7px;
  -webkit-transform: rotate(26deg);
          transform: rotate(26deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact a:hover::before {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact a:hover::after {
  -webkit-transform: rotate(31deg) translateX(10px);
          transform: rotate(31deg) translateX(10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  bottom: 42.7px;
  right: -47px;
}
.contact a:hover::after {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */